<!-- Use site subtitle by default -->
{{ $description := .Site.Params.sidebar.subtitle }}
{{- $paged := and (ne .Paginator nil) .Paginator.HasPrev -}}

{{ if .Description }}
    <!-- Page description exists -->
    {{ $description = .Description }}
{{ else if .IsPage }}
    <!-- Use page summary -->
    {{ $description = .Summary }}
{{ end }}

{{- if $paged -}}
    {{- $description = (T "list.pageNum" (dict "Desc" $description "N" .Paginator.PageNumber)) -}}
{{- end -}}

{{ return ($description | plainify)}}
