{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $paged := and .Paginator .Paginator.HasPrev -}}

{{- if .IsHome -}}
    <!-- Homepage -->
    {{ $title = $siteTitle }}
{{- else -}}
    {{ $title = print $title " - " $siteTitle }}
{{- end -}}

{{- if eq .Kind "term" -}}
    <!-- {TAXONOMY_TYPE}: {TITLE} -->
    {{- $title = print (T (print "taxonomy." .Data.Singular)) ": " $title -}}
{{- end -}}

{{ if $paged }}
    <!-- Add page number-->
    {{- $title = (T "list.pageNum" (dict "Desc" $title "N" .Paginator.PageNumber)) -}}
{{ end }}

{{ return $title }}
