{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "categories" }}
    </div>
    <h3 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h3>

    <div class="tagCloud-tags">
        {{ range $index, $item := first (add $limit 1) $context.Site.Taxonomies.categories.ByCount }}
            {{ if eq $index $limit }}
                <a href="{{ $item.Page.Parent.RelPermalink }}" class="font_size_0">...</a>
            {{ else }}
                <a href="{{ $item.Page.RelPermalink }}" class="font_size_{{ $item.Count }}">
                    {{ $item.Page.Title }}
                </a>
            {{ end }}
        {{ end }}
    </div>
</section>
