{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ if gt (len $pages) 0 }}

        <section class="article-list">
            {{ range (.Paginate $pages).Pages }}
                {{ partial "article-list/default" . }}
            {{ end }}
        </section>

        {{- partial "pagination.html" . -}}
    {{ end }}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
